<app-nav></app-nav>
<section class="home_banner_area" id="home">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner_content">
                        <h3 class="text-uppercase">Bonjour</h3>
                        <h1 class="text-uppercase">Je m'appelle Tojo Razakanirina</h1>
                        <h5 class="text-uppercase">DÉVELOPPEUR WEB</h5>
                        <div class="d-flex align-items-center">
                            <a class="primary_btn" href="#"><span>Découvrir</span></a>
                            <a class="primary_btn tr-bg" href="#"><span>Contactez moi</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="home_right_img">
                        <img class="" src="assets/images/home-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 