<footer class="footer_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="footer_top flex-column">
                    <div class="footer_logo">
                        <a href="#">
                            <img src="assets/images/logo.png" alt="">
                        </a>
                        <h4>Hire Me</h4>
                    </div>
                    <div class="footer_social">
                        <a href="#">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                        <a href="#">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="#">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="#">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_bottom justify-content-center">
            <p class="col-lg-8 col-sm-12 footer-text">
                Copyright &copy; 2024 All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">tojoRz</a>
        </div>
    </div>
</footer>