<section class="about_area section_gap" id="about">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="assets/images/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="about_title text-left">
                    <h2 class="text-uppercase">Parlons <br> de <br> moi</h2>
                    <p>
                        Enthousiaste développeur junior, je suis passionné par l'informatique et particulièrement par le développement. Parallèlement, j'ai un intérêt marqué pour la création visuelle.                    </p>
                    <p>
                        Après avoir terminé une formation en informatique, je suis constamment à la
                        recherche de nouveaux défis pour mettre mes compétences techniques au
                        service de projets stimulants.
                    </p>
                    <a class="primary_btn" href="#"><span>Contactez-moi</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <h2>Mes compétences techniques</h2>
                    <p>
                        Je suis constamment à la recherche de nouveaux défis pour exprimer ma créativité <br>et mettre en œuvre mes compétences techniques.
                    </p>
                </div>
            </div>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <h4>développement</h4>
                    <ul>
                        <li class="competence_item">
                            <font>PHP</font>
                        </li>
                        <li class="competence_item">
                            <font>Python</font>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <h4>framework</h4>
                    <ul>
                        <li class="competence_item">
                            <font>Symfony</font>
                        </li>
                        <li class="competence_item">
                            <font>Django</font>
                        </li>
                        <li class="competence_item">
                            <font>Angular</font>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <h4>Bases de données</h4>
                    <ul>
                        <li class="competence_item">
                            <font>MySQL</font>
                        </li>
                        <li class="competence_item">
                            <font>PostgreSQL</font>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <h4>Outils</h4>
                    <ul>
                        <li class="competence_item">
                            <font>VsCode</font>
                        </li>
                        <li class="competence_item">
                            <font>Github</font>
                        </li>
                        <li class="competence_item">
                            <font>Adobe Photoshop</font>
                        </li>
                        <li class="competence_item">
                            <font>Adobe Illustrator</font>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

