<section class="about_area section_gap" id="about">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="assets/images/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="about_title text-left">
                    <h2 class="text-uppercase">Parlons <br> de <br> moi</h2>
                    <p>
                        Enthousiaste développeur junior, je suis passionné par l'informatique et particulièrement par le développement. Parallèlement, j'ai un intérêt marqué pour la création visuelle.                    </p>
                    <p>
                        Après avoir terminé une formation en informatique, je suis constamment à la
                        recherche de nouveaux défis pour mettre mes compétences techniques au
                        service de projets stimulants.
                    </p>
                    <a class="primary_btn" href="#"><span>Contactez-moi</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

