<div id="about" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-container first">
                    <h2>Salut, je m'appelle Tojo,</h2>
                    <p>Je suis un jeune développeur passionné par le développement informatique.
                        Après avoir terminé une formation en informatique, je suis constamment à la
                        recherche de nouveaux défis pour mettre mes compétences techniques au
                        service de projets stimulants.</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container second">
                    <div class="time">2020 - 2023</div>
                    <h6>Licence Professionnel </h6>
                    <p>chez IS-Info Ampasamadinika</p>
                    <p>Filière : Informatique de Gestion</p>
                    <div class="time">2016 - 2019</div>
                    <h6>BACC Professionnel </h6>
                    <p>chez LTP Alarobia</p>
                    <p>Spécialité : Electronique</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container third">
                    <div class="time">2016- 2019</div>
                    <h6>Brevet d’Etude Professionnel </h6>
                    <p>chez LTP Alarobia</p>
                    <p>Spécialité : Télécommunication</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
