a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.about_area {
  position: relative;
}
.about_area .about_title {
  margin-bottom: 0px;
}
.about_area .about_title p {
  margin-bottom: 20px;
}
.about_area .primary_btn {
  margin-top: 20px;
}
.about_area .about_img {
  position: relative;
  right: 250px;
}
@media (max-width: 1480px) {
  .about_area .about_img {
    right: 0;
  }
  .about_area .about_img img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .about_area .about_img {
    display: none;
  }
}

.features_area {
  padding-bottom: 170px;
}
@media (max-width: 1199px) {
  .features_area {
    padding-bottom: 50px;
  }
}

