<section class="features_area" id="skills">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>mes compétences techniques</h2>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <fa-icon [icon]="faTv"></fa-icon>
          <h4>développement</h4>
          <ul>
            <li class="competence_item">
              <font>PHP</font>
            </li>
            <li class="competence_item">
              <font>Python</font>
            </li>
            <li class="competence_item">
              <font>HTML5</font>
            </li>
            <li class="competence_item">
              <font>CSS3</font>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <fa-icon [icon]="faCode"></fa-icon>
          <h4>framework</h4>
          <ul>
            <li class="competence_item">
              <font>Symfony</font>
            </li>
            <li class="competence_item">
              <font>Django</font>
            </li>
            <li class="competence_item">
              <font>Angular</font>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <fa-icon [icon]="faDatabase"></fa-icon>
          <h4>Bases de données</h4>
          <ul>
            <li class="competence_item">
              <font>MySQL</font>
            </li>
            <li class="competence_item">
              <font>PostgreSQL</font>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <fa-icon [icon]="faTools"></fa-icon>
          <h4>Outils</h4>
          <ul>
            <li class="competence_item">
              <font>VsCode</font>
            </li>
            <li class="competence_item">
              <font>Github</font>
            </li>
            <li class="competence_item">
              <font>Photoshop</font>
            </li>
            <li class="competence_item">
              <font>Illustrator</font>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
