<section class="basic-1 bg-gray" id="training">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="title_training">
          <h2>études</h2>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-4">
        <div class="text-container">
          <div class="time">
            <fa-icon [icon]="faGraduationCap"></fa-icon>
            2020 - 2023
          </div>
          <h6>Licence Professionnel</h6>
          <p>Chez IS-Info Ampasamadinika</p>
          <p>Filière : Informatique de Gestion</p>
          <div class="time">
            <fa-icon [icon]="faGraduationCap"></fa-icon>
            2016 - 2019
          </div>
          <h6>BACC Professionnel</h6>
          <p>Chez LTP Alarobia</p>
          <p>Spécialité : Electronique</p>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-4">
        <div class="text-container">
          <div class="time">
            <fa-icon [icon]="faGraduationCap"></fa-icon>
            2016- 2019
          </div>
          <h6>Brevet d’Etude Professionnel</h6>
          <p>Chez LTP Alarobia</p>
          <p>Spécialité : Télécommunication</p>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="title_training">
          <h2>Expériences</h2>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-4">
        <div class="text-container">
          <div class="time">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            03.2023 - 08.2023
          </div>
          <h6>Stage de mémoire de fin d'étude</h6>
          <p>Chez ATW Madagascar</p>
          <p>
            Tâche : Mise en place d'une plateforme de suivi de travail des
            employés du MSI
          </p>
          <ul>
            <li class="exp_item">
              <font>Django</font>
            </li>
            <li class="exp_item">
              <font>JavaScript</font>
            </li>
            <li class="exp_item">
              <font>Chart.js</font>
            </li>
            <li class="exp_item">
              <font>Bootstrap5</font>
            </li>
            <li class="exp_item">
              <font>MySQL</font>
            </li>
          </ul>
          <div class="time">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            1.2022 - 01.2023
          </div>
          <h6>Cours Allemand</h6>
          <p>Chez APV Tongarivo</p>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-4">
        <div class="text-container">
          <div class="time">
            <fa-icon [icon]="faBriefcase"></fa-icon>
            29.10.2021 - 01.11.2021
          </div>
          <h6>Formation de Chef d’Unité 1er degré</h6>
          <p>Chez le Scout</p>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
</section>
