.basic-1 {
  padding-top: 7.75rem;
  padding-bottom: 5.25rem;
}

.basic-1 .text-container {
  margin-bottom: 3rem;
}

.basic-1 .time {
  margin-bottom: 0.5rem;
  color: #4458dc;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "Rubik", sans-serif;
}

.basic-1 h6 {
  margin-bottom: 0.125rem;
}
.title_training {
  text-align: start;
}
.title_training h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

.exp_item {
  color: #222222;
  border: none;
  height: 32px;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.8125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: "Rubik", sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: #e0e0e000;
  border: 1px solid #854fee;
  margin-right: 4px;
  margin-top: 4px;
}
.exp_item:hover {
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: 1px solid #4458dc;
  color: #222222;
  box-shadow: none;
  background-clip: border-box;
}
.exp_item font {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  text-overflow: ellipsis;
}

.text-container ul {
  padding: 0px 0px 0px 0px !important;
}
